.button {
  cursor: pointer;
  transition: all 0.25s ease-out;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  white-space: nowrap;
  font-weight: 700;
  border: none;
  
  &.default {
    background-color: var(--blue-dark);
    color: var(--gray-100);
    
    border-radius: 0.5rem;
    height: 3.25rem;
    min-width: 3.25rem;
    padding: 0 1rem;

    font-size: 0.875rem;
    line-height: 1.25rem;

    svg {
      min-width: 1rem;
    }
    
    &:hover {
      background-color: var(--blue);
    }
  }

  &.icon {
    background-color: transparent;
    color: var(--gray-300);
    
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.25rem;
    
    height: 1.25rem;
    width: 1.25rem;
    // padding: 0 1rem;


    &:hover {
      background-color: var(--gray-400);
      color: var(--danger);
    }
  }
}
