.input {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  color: var(--gray-100);
  border-radius: 0.5rem;

  height: 3.25rem;
  padding: 0 1rem;
  width: 100%;

  transition: all 0.25s ease-out;


  &:focus {
    border: 1px solid var(--purple);
  }
}
